body {
    background: url('assets/res/background.jpeg') no-repeat;
    background-size: 300%;
}
#img {
  width: 395px;
  border: 2px groove;
}
.btn {
  background: none;
  border: transparent;
  font-size: 200%;
  padding: 30px;
  text-align: center;
  cursor: pointer;
}